{% extends 'layouts/base.html.twig' %}

{% block title %}Edit Pin #{{ pin.id }}{% endblock %}

{% block body %}
    <h1>Edit Pin #{{ pin.id }}</h1>

    {% include "pins/_form.html.twig" with {submitButtonText: 'Update pin'} %}
{% endblock %}